---
layout: default
title: 'Survey Analysis: Results Show How Government CIOs Are Tackling Modernization'
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Survey Analysis: Results Show How Government CIOs Are Tackling Modernization
        %h2.page-subtitle A Report from Gartner, Inc.

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p According to Gartner, “legacy is a financial and technical obstacle to digital transformation and optimization of government. Government CIOs must be pragmatic, outcome-focused leaders who translate technology debt and strategic options into modernization journeys that engage executive leaders and deliver mission results.”
            
            %p In this report, Gartner outlines survey findings and recommendations for government CIOs looking to optimize operations and support digital transformation.

            %h3 What you’ll learn in this Gartner report:
            %ul
              %li Top reasons for governments to modernize core IT systems
              %li The primary approach and core segments for system modernization
              %li Common strategies, planned and completed modernization, and expected or planned time frames for completion

            %p Download the report to successfully drive modernization efforts in government agencies.

          .font-small
            %p Gartner, Survey Analysis: Results Show How Government CIOs Are Tackling Modernization, Dean Lacheca, 7 June 2019

        .col-md-4.col-md-offset-1
          %h2.margin-top0 Download the report
          %p If you don't see the form, try temporarily disabling ad blockers or use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1002
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1002, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  dataLayer.push({event: 'resources', mktoFormId: form.getId()});
                  return false;
                });
              });
        .confirmform{ style: "visibility:hidden;" }
          .col-md-4.col-md-4.col-md-offset-1
            %h3 <a href="#">Click here to download the report.</a>
            %p You will also receive an copy of the report sent to your inbox shortly.
